<body>
    <div class="containt">
        <img src="./../assets/Ellipse 2.png" alt="logo-BQ" class="logo">
        <div class="div-form">
            <form>
                <ul>
                    <li>
                        <label for="email">Email:</label><br>
                        <input type="text" id="email">
                    </li>
                    <li>
                        <label for="password">Password:</label><br>
                        <input type="password" id="password">
                    </li>
                    <li>
                        <label for="rol">Rol:</label><br>
                        <select id="rol">
                            <option value="">--Please choose a rol--</option>
                            <option value="waiter">Waiter</option>
                            <option value="chef">Chef</option>
                            <option value="manager">Manager</option>
                        </select>
                    </li>
                    <li class="button">
                        <button type="submit" id="login">LOGIN</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</body>
