<div class="modal">
    <div class="modal-container">
        <button class="closemodal" (click)="onCloseModal()">X</button>
        <form [formGroup]= 'addWorkerForm'>
            <ul>
                <li>
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" formControlName="email">
                </li>
                <li>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" formControlName="password">
                </li>
                <li>
                    <label for="password">Rol:</label>
                    <select name="rol" id="rol" formControlName="rol">
                        <option value="">Seleccione el rol</option>
                        <option value="admin">Administrador</option>
                        <option value="waiter">Mesero</option>
                        <option value="chef">Chef</option>
                    </select>
                </li>
                    <button type="submit" class="addWorker" id="addWorker" (click)="onSubmit()">Agregar</button>
            </ul>
        </form>
    </div>
</div>
