.modal{
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.modal-container{
    width: 80%;
    height: 42%;
    background: #FFF7D2;
    border-radius: 6px;
    padding: 4%;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    width: 90%;
    display: grid;
    gap: 1%;
    place-items: center;
}

li {
    list-style: none;
    width: 100%;
    display: grid;
    place-items: center;
}

.closemodal{
    font-weight: bolder;
    background-color: #FFC700;
    border-style: none;
    width: 6%;
    padding: 1%;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 1px 1px 2px rgb(137, 129, 129) ;
}

.addWorker{
    font-weight: bolder;
    background-color: #FFC700;
    border-style: none;
    padding: 2%;
    margin: 3%;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 1px 1px 2px rgb(137, 129, 129) ;
}

label{
    font-weight: bolder;
    padding: 1%;
}

input{
    width: 100%;
    padding: 0.5%;
    margin: 2%;
    border-radius: 50px;
    border: 0;
    outline: none;
    font-size: 95%;
    color: black;
    text-align: center;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2) inset;
    background-color: #F4EDE7
}

select{
    padding: 1%;
    border-radius: 5px;
    border-style: none;
    position: relative;
    width: 44%;
    overflow: hidden;
    background-color:#8D0000;
    color:#F4EDE7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


button:hover{
    background-color: #8D0000;
    color: #FFF7D2;
}


