body {
    background-image: url('../../../assets/background.png');
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 2rem;
}

.menuContainer{
    background-color: #f4ede7db;
    box-shadow: rgb(137, 129, 129) 3px 3px  5px;
    border: 1px solid rgb(137, 129, 129) ;
    backdrop-filter: blur(5px);
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 4rem;
    align-items: center;
}

.clientName {
    width: 80%;
    margin-top: 1rem;
    border-style: none;
    background-color: transparent;
    border-bottom: 2px solid #FFC700;
    height: 2rem;
    padding: 2%;
    text-align: center;
}

.logo {
    width: 55%;
    border: #8D0000;
    justify-self: center;
}

.menuButtons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.breakfast,
.lunch, .sendOrder, .goOrders, .exit {
    padding: 1rem;
    background-color: #FFC700;
    border-style: none;
    box-shadow: gray 2px 2px 5px;
    border-radius: 5px;
}

.logOut{
    width: 20%;
}

.breakfast:hover,
.lunch:hover, .sendOrder:hover, .addButton:hover, .goOrders:hover, .exit:hover {
    background-color: #8D0000;
    color: #FFF7D2;
}

.container-grid{
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    width: fit-content;

    margin-bottom: 4%;
}

.products{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: rgb(161, 152, 152) 3px 3px  5px;
    transition: all 100ms;
}

.products:hover{
    box-shadow: rgb(241, 241, 153) 4px 4px 10px;
}

.productName{
    font-size: medium;
    margin: 3%;
    color: #8D0000;
}

.products-img{
    width: 90px;
    height: 90px;
    object-fit:contain;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.counter{
    width: 20%;
    text-align: center;
    background-color: none;
    border-style: none;
}

.price{
    background-color: none;
    border-style: none;
    width: 50%;
    font-size: medium;
    margin-bottom: 3%;
}

.COP{
    margin-left: 17%;
}

.btn-counter{
    background-color: #f4ede7db;
    border-radius: 20px;
    border-style: none;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #8D0000;
    width: 10%;
    margin-top: 3%;
} 

.counter{
    font-size: 1.1rem;
}

.addButton{
    background-color: #FFC700;
    border-style: none;
    padding: 3%;
    margin: 4%;
    border-radius: 7px 3px 7px 3px;
    box-shadow: 1px 1px 2px rgb(137, 129, 129) ;
}

.menuList{
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    box-shadow: rgb(137, 129, 129) 3px 3px  5px;
    background-color:white;
}

.menuTitle{
    margin-bottom: 3rem;
}

.total{
    margin: 1rem;
    font-size: 1.2rem;
}

.buttonSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30%;
    margin: 5%;
}

.total-label{
    color: #8D0000;
    font-size: 1.2rem;
}