<body>
    <div class="header">
        <img src="../../assets/Ellipse 2.png" alt="logo" class="logo">
        <div class="infoClient">
            <h3>Nombre del cliente</h3>
            <input type="text" name="clientName" class="clientName">
        </div>
    </div>

    <div class="menuButtons">
        <button class="breakfast" (click)="getmenubreakfast()">DESAYUNO</button>
        <button class="lunch" (click)="getmenulunch()">ALMUERZO</button>
    </div>

    <div class="container-grid">
        <div *ngFor="let item of products">
            <div class="products">
                <div class="image"><img [src]="item.image" alt="" class="products-img"></div> 
                <div class="info">
                    <div>{{item.name}}</div>
                    <input type="text" #price value={{item.price}} class="price">
                    <div>
                    <button class="btn-counter" (click)="decreaseCounter(counterValue, price, result)">-</button><input type="text" class="counter" #counterValue value="0"> 
                    <button class="btn-counter" (click)="increaseCounter(counterValue, price, result,item.id)">+</button>
                </div> 
                <div class="plus"> 
                <p>Total: </p><input type="text" class="Result" #result value="0">
            </div>
            <button class="addButton" (click)="addItem(item)">Agregar</button>
                </div>
                
            </div>
        </div>
    </div>

    <div class="menuList">
    <h2 class="menuTitle">MENU</h2>


    <app-order 
    *ngFor="let product of orderArray" 
    [order]="product"
    ></app-order>
   

    <p class="total"><span class="total-label">Total:</span> </p>

    <button class="sendOrder" (click)="logOut()">Finalizar pedido</button>
</div>

</body>