body {
    background-color: #FFF7D2;
    margin: 0;
    padding: 0;
}

:host{
    display: flex;
    /* align-items: center; */
    margin: 2rem;
    background-color: white;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 2px 2px 4px rgb(196, 196, 190);
}

.header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 4rem;
    align-items: center;
}

.clientName {
    width: 100%;
    margin-top: 1rem;
    border-style: none;
    background-color: #FFC700;
    height: 2rem;
    padding: 2%;
}

.logo {
    width: 80%;
}

.menuButtons {
    display: flex;
    justify-content: space-around;
}

.breakfast,
.lunch, .sendOrder {
    padding: 1rem;
    background-color: #FFC700;
    border-style: none;
    box-shadow: gray 2px 2px 5px;
    border-radius: 5px;
}

.breakfast:hover,
.lunch:hover, .sendOrder:hover {
    background-color: #8D0000;
    color: #FFF7D2;
}

.container-grid{
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.products{
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: small;
    background: white;
    border: #8D0000 2px solid;
    border-radius: 10px;
    text-align: center;
}

.products-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.counter{
    width: 20%;
    text-align: center;
    background-color: none;
    border-style: none;
}

.price{
    background-color: none;
    border-style: none;
    margin-left: 20%;
    width: 30%;
}

.Result{
    background-color: none;
    border-style: none;
    width: 30%;
    margin-left: 2%;
}

.plus{
    display: flex;
    justify-content: center;
    margin-left: 15%;
}

.btn-counter{
    background-color: transparent;
    border-style: none;
    font-weight: bolder;
    font-size: 1.2rem;
    color: #8D0000;
} 
.menuList{
    padding: 3rem;
    text-align: center;
}

.menuTitle{
    margin: 3rem;
}

.total{
    margin: 3rem;
}