<body>
    <div class="header">
        <img src="../../assets/Ellipse 2.png" alt="logo" class="logo">
        <div class="infoClient">
            <h3>Nombre del cliente</h3>
            <input type="text" name="clientName" class="clientName">
        </div>
    </div>

    <div class="menuButtons">
        <button class="breakfast" (click)="getmenubreakfast()">DESAYUNO</button>
        <button class="lunch" (click)="getmenulunch()">ALMUERZO</button>
    </div>

    <div class="container-grid">
        <div *ngFor="let item of products">
            <div class="products">
                <div class="image"><img [src]="item.image" alt="" class="products-img"></div> 
                <div class="info">
                    <div>{{item.name}}</div>
                    <div>{{item.price | currency}}</div>
                    <div><button>-</button> <button>+</button> Cantidad</div> 
                </div>
            </div>
        </div>
    </div>

    <!-- <table>
        <thead>
            <tr>
                <th>Cantidad</th>
                <th class="img-container">Imágen</th>
                <th>Producto</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products">
                <td> <button (click)="decreaseCounter()">-</button> <button (click)="increaseCounter()">+</button> </td>
                {{item.qty}}
                <td><button>-</button>  <button>+</button></td>
                <td class="img-container"></td>
                <td><img [src]="item.image" alt="" class="products-img"> {{item.name}}</td>
                <td>{{item.price | currency}}</td>
            </tr>
        </tbody>
    </table> -->
    <table class="menuTable"></table>

    <div class="menuList">
    <h2 class="menuTitle">MENU</h2>

    <app-order 
    *ngFor="let product of orders" 
    [order]="product"
    (orderDelete)="deleteOrder(product)"></app-order>
   

    <p class="total"><span class="total-label">Total:</span> $ {{Total}}</p>

    <button class="sendOrder" (click)="logOut()">Finalizar pedido</button>
</div>

</body>