<body>
    <div class="menuContainer">
    <div class="header">
        <img src="../../assets/Ellipse 2.png" alt="logo" class="logo">
        <div class="infoClient">
            <h3>Nombre del cliente</h3>
                <input type="text" name="clientName" class="clientName" >
        </div>
    </div>

    <h2 class="menuTitle">MENU</h2>

    <div class="menuButtons">
        <button class="breakfast" (click)="getmenubreakfast()">DESAYUNO</button>
        <button class="lunch" (click)="getmenulunch()">ALMUERZO</button>
    </div>

    <div class="container-grid">
        <div *ngFor="let item of products">
            <div class="products">
                <div>
                <div class="image"><img [src]="item.image" alt="" class="products-img"></div> 
                <span class="COP">$<input type="text" #price value={{item.price}} class="price"></span>
            </div>
                <div class="info">
                    <span class="productName">{{item.name}}</span>
                    
                    <div>
                    <button class="btn-counter" (click)="decreaseCounter(counterValue)">-</button><input type="text" class="counter" #counterValue value="0"> 
                    <button class="btn-counter" (click)="increaseCounter(counterValue)">+</button>
                </div> 
            <button class="addButton" (click)="addItem(item, counterValue)" >Agregar</button>
                </div> 
            </div>
        </div>
    </div>

    <div class="menuList">
    <h2 class="menuTitle">ORDEN</h2>


    <app-order 
    *ngFor="let product of orderArray" 
    [products]="product"
    (orderDelete)="deleteItem(product)"
    ></app-order>

    <p class="total"><span class="total-label">Total: </span>{{Total}} </p>

    <button class="sendOrder" (click)="sendOrder()">Finalizar pedido</button>
</div>
</div>
</body>