body {
    background-image: url('../../../assets/background.png');
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 2rem;
    min-height: 100vh;
    text-align: center;
}

.containt{
    background-color: #f4ede7db;
    box-shadow: rgb(137, 129, 129) 3px 3px  5px;
    border: 1px solid rgb(137, 129, 129) ;
    backdrop-filter: blur(5px);
    padding: 3%;
    justify-content: center;
} 

.view-header{
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    padding: 1%;
    margin: 1%;
    width: 15%;
}

p{
    padding-bottom: 3%;
    font-size: larger;
    font-weight: bolder;
}

.addWorker:hover,
.logOut:hover {
    background-color: #8D0000;
    color: #FFF7D2;
}

.addWorker, .logOut{
    background-color: #FFC700;
    border-style: none;
    font-weight: bolder;
    padding: 1rem;
    margin: 2rem;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 1px 1px 2px rgb(137, 129, 129) ;
}

.editWorker, .deleteWorker{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-style: none;
    border-radius: 100%;
    color: #FFC700;
}

.editWorker:hover, .deleteWorker:hover{
    background-color: #FFC700;
    color: #8D0000
}

.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

table{
    width: 90%;
    
}

th{
    margin: 1%;
    padding: 1%;
}

input{
    width: 20%;
    height: 30px;
    margin-top: 3%;
    border-radius: 50px;
    border: 0;
    outline: none;
    font-size: 95%;
    background-color: transparent;
    text-align: center;
}

@media screen and (max-width: 720px){

    body {
        background-image: url('../../../assets/rotateImg.png')
    }
}
