<body>
    <div class="containt">
        <img src="./../assets/Ellipse 2.png" alt="logo-BQ" class="logo">
        <div class="div-form">
            <form [formGroup] = 'loginForm'>
                <ul>
                    <li>
                        <label for="email">Email:</label><br>
                        <input type="text" id="email" name="email" formControlName="email">
                    </li>
                    <li>
                        <label for="password">Password:</label><br>
                        <input type="password" id="password" name="password" formControlName="password">
                    </li>
                    <li class="button">
                        <button (click)='onSubmit()' type="submit" id="login">LOGIN</button>
                    </li>
                    <span class="errorMessage"></span>
                </ul>
            </form>
        </div>
    </div>

    <!-- <pre>{{loginForm.value | json}}</pre> -->
</body>
