
body{
    margin: 0;
    background-color: #FFD118;
    display: flex;        
    justify-content: center;
    background-image: url('../../../assets/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.containt{
    margin: 2%;
    width: 60%;
    background-color: #00000064;
    display:flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(2px);
} 

.div-form{
    width: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

form{
    margin: 0%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    width: 80%;
    display:grid;
    grid-template-columns: 1fr;
    gap: 10%;
    text-align: center;
    
}

li {
    list-style: none;
    width: 100%;
    align-items: center;
}


.logo{
    padding: 2%;
    margin: 8% 2% 4%;
    width: 250px;
}

label{
    font-family: 'Graduate', cursive;
    font-size: 26px;
    text-align: start;
    color: #FFD118;
}

input{
    width: 90%;
    height: 30px;
    margin-top: 3%;
    border-radius: 50px;
    border: 0;
    outline: none;
    font-size: 95%;
    color: black;
    text-align: center;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2) inset;
    background-color: #F4EDE7
}

button{
    margin: 2%;
    width: 30%;
    height: 40px;
    font-size: 98%;
    font-weight: bolder;
    background-color: #FFD118;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(163, 158, 147, 0.2) 1px 1px 1px 2px ;
}

button:hover{
    background-color: #8D0000;
    color: #FFF7D2;
}

.ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input, textarea){
    border: #8D0000 3px solid;
}

.errorMsg{
    color: #8D0000 ;
    margin-top: 2%;
}

@media screen and (max-width: 720px){

    body{
        background-image: url('../../../assets/rotateImg.png');
    }

    .containt{
        width: 85%;
    }
}
