body{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    align-items: center;
    margin: 2rem;
    background-color:white;
    border-radius: 3px;
    padding: 1rem;

}

.keyText{
    color: #FFC700;
    font-size:2rem;
}

.delete{
    border: none;
    background-color: white;
}


.keyText:hover{
    color: #8D0000
}